body{
    font-family: quicksand,sans-serif;
    background: url("Imagenes/Fondo_Verde.jpg");
    background-color:black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    flex-direction: column;
  }
  
  .logo-aboutus-container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.4s linear;
  }

  .logo-aboutus-container:hover{
    background: #9DF77f;
  }

  header{
    width: 100%;   
  }

  header a{
     color: white;
     margin-right: 10px;
  }
  .logoRnM{
    width: 8%;
  }
  .contenedor1{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  .titulo{
    width: 55%;
    margin:auto;
    margin-top: -5%;
  }
  .parrafoInicio{
    color:greenyellow;
    text-align: right;
    margin-left: 45%; 
    padding: 2%;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    position: relative;
  }
  .contenedor1_2{
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h4{
    align-self: center;
    color: white;
  }
  #imagenBotonPortal{
    width: 30%;
    position: absolute;
  }
  #imagenBotonPortalAnimado{
    width: 30%;
    position: absolute;
  }
  .personajes{
    width: 43%;
    position:absolute;
    margin-left:-30%;
    margin-top: 15%;
  }
  #botonPortal{
    position:absolute;
    width: 280px;
    height:280px;
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
  }
 

  .botonVolver{
    position:absolute;
    width: auto;
    margin-left: 70%;
    margin-top: 2%;
    height: 7%;
    border-radius: 10%;
    background-color: rgb(28, 235, 155); 
  }
  .contenedor2{
    display: none;  
  }
  .inputsContenedor2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
  }
  .divBotonesOpciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .botonesOpciones{
    width:30%;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(11, 204, 37);
    text-align: center;
    border: 2px solid rgb(79, 238, 238);
    box-shadow: 10px 10px 15px #53aafc;
  }
  .botonesOpciones:hover{
    background-color: lawngreen;
    color:black;
    border: 2px solid rgb(18, 82, 82);
    box-shadow: 10px 10px 15px #21ff59;
  }
  .divRick{
    width: inherit;
    position: relative;  
    margin-bottom: -31px;
  }
  .rickMironGif{
    margin-left: 17%;
  }
 
  .contenedor3{
    display: none;
  }
  .categoriasEspecies{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 230px;
    margin: 5%;
    align-items: center;
    justify-items: center;
    grid-row-gap:3%;
    grid-column-gap: 2%;
  }
  .botonCadaEspecie{
    width: auto;
    height: 230px;
  }
  .categoriasEspecies h2{
    width:90%;
    height: auto;
    color: white;
    font-size: 15px;
    background-color: black;
    margin: 0;
    text-align: center;
    border: 2px solid rgb(79, 227, 238);
    margin-top: -10%;
    border-radius: 2px;
    box-shadow: 10px 10px 15px #57FB7B;
  }
  
  .inputsContenedor2 button:hover{
    background-color: greenyellow;
    color:black;
  }
  .contenedor4{
    display: none;
  }
  .contenedor4 h1{
  color:white;
  font-size: 40px;
  }
  
  .contenedorPorEspecie{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: auto;
    margin: 5%;
  }
  
  .nombrePersonaje{
    width: auto;
    height: 230px;
    margin-left:2%;
    color:#9DF77f;
    font-size:15px;
    border: 2px solid rgb(79, 227, 238);
    border-radius: 2px;
    box-shadow: 10px 10px 15px #57FB7B;
  }
  
  .imagenPersonaje{
    width: auto;
    height: 230px;
  }
  
  .contenedor4_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:white;
  }

  .contenedor5{
    display: none;
  }
.nombreTodos{
color: white;
}
.contenedor6{
  display: none;
}
.contenedorTodosPersonajes{
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: auto;
  grid-row-gap: 3px;;
  column-gap: 1%;;
  margin:5%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.imagenesTodosPersonajes{
  width:100%;

}
.nombreTodosPersonajes{
  width: auto;
  color:greenyellow;
}

.contenedorPersonajesOrdenados{
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: auto;
  grid-row-gap: 3px;;
  column-gap: 1%;;
  margin:5%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
  
  /* On screens that are 320px wide or less CELULAR*/
  @media screen and (max-width: 320px){
  
  .portal{
    margin-left: 70px;
    }
  
  .titulo{
    margin-top: 20px;
  }
  
  .personajes{
    position: relative;
    right: 50px;
    }
  
  
  .contenedor2{
    width: 100%;
  }
  

  }
  
  
  /* On screens that are 768px wide or less TABLET */
  @media screen and (min-width: 320px) and (max-width: 780px){
  
  
  .portal{
    margin-left: 160px;
    }
  
  .contenedor2{
    width: 100%;
  }  
  }
  
 
  /*Rectángulo de colores translucido sobre la imagen de fondo
  *:before{
      position:absolute;
      content: "";
      min-height: 100vh;
      width: 100%;
      background:linear-gradient(50deg, #8a41ff 10%, transparent 30%, #6cffff 50%, transparent 60% 100%);
      opacity: 0.7;
  }
  */
  